

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: "Jost", sans-serif;
    font-size: 1.8rem;
}

a{
    color: var(--white);
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

.row{
    max-width: 1180px;
    margin: 0 auto;

}

.btn {  
    display: inline-block;
    padding: 1.2rem 4rem;
    /* detta ritar ut en linje som går runt padding området */
    border: 1px solid var(--blue);
    font-size: 2rem;
    /* kan vara fel har testa mig fram själv*/
    background: var(--blue);
}


:root{
    --blue: #4659ff;
    --white: #ffffff;
    --nav-height: 8rem;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url('images/background.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header .row {
    width: 100%;
}

/*navigations element */
nav{
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: var(--nav-height);
}

/* styr länkarna inuti nav */
nav a{
    font-size: 2.2rem;
}

.header-text-container{
    height: calc(100% - var(--nav-height));
    display: flex;
    align-items: center;

}

.header-text-container p {
    font-size: 2.4rem;
    margin: 1rem 0 3 rem;
}

h1{
    color: var(--white);
    font-size: 7rem;
}
